<!DOCTYPE html>
<html>
<head>
  <title>SubscriptionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'nav' %>
  <div>
        <%if alert && alert.length > 0 then %>
            <div class="alert alert-warning"><%=alert%></div>
        <% end %>
        <%if notice && notice.size > 0 then %>
          <div class="alert alert-success"><%=notice%></div>
        <% end %>
  </div>


<%= yield %>

</body>
</html>
